{% extends "base.html" %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
       <li class="breadcrumb-item"><a href="{% url 'home' %}">Strona główna</a></li>
       <li class="breadcrumb-item active" aria-current="page">Profil</li>
  </ol>
</nav>
{% endblock breadcrumb %}

{% block title %}Profil użytkownika{% endblock title %}

{% block content %}
  <h1>Profil użytkownika</h1>

  <p><strong>Login:</strong> {{ uzytkownik.django_user.username }}</p>
  <p><strong>Email:</strong> {{ uzytkownik.django_user.email }}</p>
  <p><strong>Rola:</strong> {{ uzytkownik.get_rola_display }}</p>

  {# dodaj inne pola modelu Uzytkownik, np.: #}
  {# <p><strong>Imię:</strong> {{ uzytkownik.imie }}</p> #}
  {# <p><strong>Nazwisko:</strong> {{ uzytkownik.nazwisko }}</p> #}
{% endblock content %}
