{% extends "base.html" %}

{% block content %}

<h1>Lista dostępnych ofert</h1>

<a href="{% url 'dodaj_oferte' %}">➕ Dodaj nową ofertę</a>

<ul>
    {% for oferta in oferty %}
        <li>
            <strong>{{ oferta.pracodawca.nazwa_firmy }}</strong><br>
            Rodzaj: {{ oferta.rodzaj_zgloszenia }} <br>
            Dostępność: {{ oferta.dostepnosc_oferty }} <br>
            <em>{{ oferta.opis }}</em><br>

            {% if user_role == "Student" %}
                {% if oferta.id in moje_zgloszenia %}
                    <span style="color: green; font-weight: bold;">
                        ✔ Już zgłoszone
                    </span>
                {% else %}
                    <form method="post" action="{% url 'zgloszenie_na_oferte' oferta.id %}">
                        {% csrf_token %}
                        <button type="submit">Zapisz się na tę ofertę</button>
                    </form>
                {% endif %}

            {% elif user_role == "Pracownik BK" %}
                <span style="font-style: italic; color: #555;">
                    (Podgląd ofert – pracownik Biura Karier, brak możliwości zgłoszenia)
                </span>
            {% endif %}
        </li>
    {% empty %}
        <li>Brak ofert.</li>
    {% endfor %}
</ul>

{% endblock %}
