{% extends "base.html" %}

{% block title %} Lista ofert {% endblock %}

{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Strona główna</a></li>
            <li class="breadcrumb-item active" aria-current="page">Lista ofert</li>
        </ol>
    </nav>
{% endblock breadcrumb %}

{% block content %}
    <div class="row d-flex align-items-center">
        <div class="col">
           <h1>Oferty – panel Biura Karier</h1>
        </div>
        <div class="col d-flex justify-content-end">
           <a class="btn btn-primary " href="{% url 'dodaj_oferte' %}" role="button">Dodaj ofertę</a>
        </div>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Nazwa firmy</th>
            <th scope="col">Rodzaj</th>
            <th scope="col">Dostępność</th>
            <th scope="col">Opis</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for oferta in oferty %}
            <tr>
                <td>{{ oferta.pracodawca.nazwa_firmy }}</td>
                <td>{{ oferta.rodzaj_zgloszenia }}</td>
                <td>{{ oferta.dostepnosc_oferty }}</td>
                <td>{{ oferta.opis }}</td>
                <td>
                    {% if user_role == "Student" %}
                        {% if oferta.id in moje_zgloszenia %}
                            <span style="color: green; font-weight: bold;">
                                ✔ Już zgłoszone
                            </span>
                        {% else %}
                            <form method="post" action="{% url 'zgloszenie_na_oferte' oferta.id %}">
                                {% csrf_token %}
                                <button class="btn btn-primary" type="submit">Zapisz się na tę ofertę</button>
                            </form>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}