<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}
                System Praktyk
            {% endblock title %}
        </title>
        {% load bootstrap5 %}
        {% load static %}
        {% bootstrap_css %}
        <link rel="stylesheet"
              href="{% static 'webfonts/fontawesome/css/all.min.css' %}"
              type="text/css">
        <link rel="stylesheet"
              href="{% static 'styles/styles.css' %}"
              type="text/css">

    </head>
    <body class="d-flex flex-column vh-100">
        <header>
            <div class="collapse" id="navbarToggleExternalContent">
                <div class="bg-dark p-4">
                    <h5 class="text-white h4">
                        Collapsed content
                    </h5>
                    <span class="text-muted">Toggleable via the navbar brand.</span>
                </div>
            </div>
            <nav class="navbar navbar-expand-lg {% if is_login_page %} header {% else %} navbar-light bg-light {% endif %}" id="header-content">

                <button class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                {% if is_login_page %}
                {% else %}
                    <a href="{% url 'home' %}"
                       class="navbar-brand d-none d-md-flex align-items-center m-0 me-4 p-0">

                        <img src="{% static 'images/moodle-logo-uthpraktyki.png' %}"
                             class="img-fluid logo me-1"
                             alt="Logo"
                             height=""
                             width="">
                    </a>
                {% endif %}

                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                        {% if user.is_authenticated %}
                          <!-- Wszyscy: profil, lista ofert -->
                          <li class="nav-item">
                            <a class="nav-link" href="{% url 'profil' user.pk %}">Profil</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="{% url 'lista_ofert' %}">Oferty</a>
                          </li>

                          <!-- student, pracodawca, pracownikBK: dodaj ofertę -->
<!--                          {% if perms.aplikacjaTest.add_offer_portal %}-->
<!--                          <li class="nav-item">-->
<!--                            <a class="nav-link" href="{% url 'dodaj_oferte' %}">Dodaj ofertę</a>-->
<!--                          </li>-->
<!--                          {% endif %}-->

                          <!-- student: moje zgłoszenia -->
                          {% if perms.aplikacjaTest.view_own_applications %}
                          <li class="nav-item">
                            <a class="nav-link" href="{% url 'moje_zgloszenia' %}">Moje zgłoszenia</a>
                          </li>
                          {% endif %}

                          <!-- opiekun: przypisane zgłoszenia -->
                          {% if perms.aplikacjaTest.view_assigned_applications %}
                          <li class="nav-item">
                            <a class="nav-link" href="{% url 'przypisane_zgloszenia' %}">Przypisane zgłoszenia</a>
                          </li>
                          {% endif %}

                          <!-- pracownikBK: listy użytkowników -->
                          {% if perms.aplikacjaTest.view_students %}
                          <li class="nav-item">
                            <a class="nav-link" href="{% url 'przegladajUzytkownikow' %}">Użytkownicy</a>
                          </li>
                          {% endif %}
                          {% if perms.aplikacjaTest.view_tutors %}
                          <li class="nav-item">
                            <a class="nav-link" href="{% url 'bk_zgloszenia_lista' %}">Zgłoszenia</a>
                          </li>
                          {% endif %}
                        {% endif %}
                      </ul>

                </div>

                {% if request.user.is_authenticated %}
                    <div class="dropdown me-4">
                        <a aria-expanded="false"
                           aria-label="{{ request.user.username }}"
                           class="btn btn-secondary dropdown-toggle"
                           data-bs-toggle="dropdown"
                           href="#"
                           id="dropdownMenuLink"
                           role="button"
                           title="{{ request.user.username }}">
                            <span class="user-initials">
                                {{ request.user.username|slice:':1' }}
                            </span>

                        </a>

                        <ul class="dropdown-menu dropdown-menu-end"
                            aria-labelledby="dropdownMenuLink">
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'logout' %}">Wyloguj</a>
                            </li>
                        </ul>
                    </div>
                {% else %}
                    {% if is_login_page %}
                    {% else %}
                        <a class="btn" href="{% url 'login' %}">Zaloguj się</a>
                    {% endif %}
                {% endif %}
            </nav>

        </header>

        <main>
            <section>
                <div class="container mt-4 text-center">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }} alert-dismissible fade show">
                                {{ message }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert">
                                </button>
                            </div>
                        {% endfor %}
                    {% endif %}

                </div>
            </section>
            <section class="container flex-grow-1 py-0">

                {% block breadcrumb %}
                {% endblock breadcrumb %}
                <div class="row">
                    <div class="content">
                        {% block main_title %}
                        {% endblock main_title %}

                        {% block content %}
                        {% endblock content %}
                    </div>
                </div>
            </section>
        </main>
        <footer class="text-center mt-auto pt-3">
            <div>

                <p>
                    Wsparcie techniczne
                    <br>
                    helpdeskit@uth.edu.pl
                </p>
            </div>
        </footer>
        <div id="goto-top-link">
            <a class="btn btn-light m-0"
               role="button"
               href="#"
               onclick="const main = document.getElementById('main'); main.scrollTo({ top: 0, left: 0, behavior: 'smooth' });"
               aria-label="Go to top">
                <i class="icon fa fa-arrow-up fa-fw " aria-hidden="true"></i>
            </a>w
        </div>
    </body>

    {% bootstrap_javascript %}
    <script>
const scrollTop = document.getElementById("goto-top-link");

window.onscroll = function(){
    scrollFunction();
};
function scrollFunction(){

    if( document.body.scrollTop > 20 || document.documentElement.scrollTop > 20){
        scrollTop.style.display = "block";
    } else {
        scrollTop.style.display = "none";
    }
}

scrollTop.addEventListener("click", function(){
    window.scrollTo({
        left: 0,
        top: 0,
        behavior: "smooth"
    })
})
    </script>
</html>
