{% extends "base.html" %}
{% block content %}
<h1>Panel nawigacyjny</h1>

<ul>
    <li><a href="{% url 'rejestracja' %}">Rejestracja</a></li>
    <li><a href="{% url 'dodaj_oferte' %}">Dodaj ofertę</a></li>
    <li><a href="{% url 'lista_ofert' %}">Lista ofert</a></li>
    <li><a href="{% url 'przegladajUzytkownikow' %}">Lista użytkowników</a></li>
    <li><a href="{% url 'zgloszenie_nowe' %}">Zgłoś się na praktyki</a></li>
    <li><a href="{% url 'moje_zgloszenia' %}">Moje zgłoszenia</a></li>
    {% if uzytkownik and uzytkownik.rola == "Pracownik BK" %}
    <li><a href="{% url 'bk_zgloszenia_lista' %}">Zgłoszenia – Biuro Karier</a></li>
    {% endif %}

</ul>
{% endblock %}