{% extends "base.html" %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Strona główna</li>
  </ol>
</nav>
{% endblock breadcrumb %}

{% block main_title %}
<div class="row"><h1>Kokpit</h1></div>{% endblock %}

{% block content %}
    <div class="row">
        <p>Szanowni Użytkownicy,</p>
        <p>z platformy e-praktyki prosimy korzystać wyłącznie za pośrednictwem strony internetowej https://e-praktyki.uth.edu.pl</p>
        <p>Nie bierzemy odpowiedzialności za prawidłowość funkcjonowania aplikacji pobranych z Internetu i nieautoryzowanych przez UTH.</p>
    </div>
{% endblock %}