{% extends "base.html" %}
{% block title %} Lista użytkowników {% endblock %}
{% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Strona główna</a></li>
    <li class="breadcrumb-item active" aria-current="page">Lista użytkowników</li>
  </ol>
</nav>
{% endblock %}
{% block main_title %} <h1>Lista użytkowników</h1> {% endblock %}
{% block content %}

<div class="text-end">

        <a class="btn btn-primary " href="{% url 'rejestracja' %}" role="button">Dodaj użytkownika</a>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Rola</th>
            <th scope="col">login</th>
            <th scope="col">email</th>
            <th scope="col">telefon</th>
        </tr>
        </thead>
        <tbody>
        {% for uzytkownik in uzytkownicy %}
            <tr>
                <td>{{ uzytkownik.rola}}</td>
                <td>{{ uzytkownik.login }} </td>
                <td>{{ uzytkownik.adres_mailowy }}</td>
                <td>{{ uzytkownik.numer_telefonu }}</td>
            </tr>
        {% empty %}
            <li>Brak ofert.</li>
        {% endfor %}
        </tbody>
    </table>

{#<a href="{% url 'rejestracja' %}">➕ zarejestruj sie</a>#}
{##}
{#<ul>#}
{#    {% for uzytkownik in uzytkownicy %}#}
{#        <li>#}
{#            <strong> rola:{{ uzytkownik.rola}}</strong><br>#}
{#            login: {{ uzytkownik.login }} <br>#}
{#             email: {{ uzytkownik.adres_mailowy }} <br>#}
{#            telefon: {{ uzytkownik.numer_telefonu }}<br>#}
{##}
{#        </li>#}
{#    {% empty %}#}
{#        <li>Brak danych.</li>#}
{#    {% endfor %}#}
{#</ul>#}

{% endblock %}