{% extends "base.html" %}

{% block title %}Lista użytkowników{% endblock title %}

{% block breadcrumb %}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Strona główna</a></li>
        <li class="breadcrumb-item active" aria-current="page">Lista użytkowników</li>
      </ol>
    </nav>
{% endblock breadcrumb %}

{% block content %}
    <div class="row d-flex align-items-center">
        <div class="col">
           <h1>Użytkownicy – panel Biura Karier</h1>
        </div>
        <div class="col d-flex justify-content-end">
           <a class="btn btn-primary " href="{% url 'rejestracja' %}" role="button">Dodaj użytkownika</a>
        </div>
    </div>

    <form method="get">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">
                    {{ ofertaForm.rola }}
                </th>
                <th scope="col">
                    {{ ofertaForm.login }}
                </th>
                <th scope="col">
                    {{ ofertaForm.adres_mailowy }}
                </th>
                <th scope="col">
                    {{ ofertaForm.numer_telefonu }}
                </th>
                <th scope="col" class="text-end">
                    <button type="submit" class="btn btn-secondary">Filtruj</button>
                    <a href="." class="btn btn-outline-secondary">Wyczyść</a>
                </th>
            </tr>
            </thead>
            <tbody>
            {% for uzytkownik in uzytkownicy %}
                <tr>
                    <td>{{ uzytkownik.rola }}</td>
                    <td>{{ uzytkownik.login }}</td>
                    <td>{{ uzytkownik.adres_mailowy }}</td>
                    <td>{{ uzytkownik.numer_telefonu }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </form>

{% endblock %}