<!DOCTYPE html>
<html>
<head>
    <title>uzytkownicy</title>
</head>
<body>

<h1>Lista uzytkownikow</h1>

<a href="{% url 'rejestracja' %}">➕ zarejestruj sie</a>

<ul>
    {% for uzytkownik in uzytkownicy %}
        <li>
            <strong> rola:{{ uzytkownik.rola}}</strong><br>
            login: {{ uzytkownik.login }} <br>
            telefon: {{ uzytkownik.status_konta }} <br>
             email: {{ uzytkownik.adres_mailowy }} <br>
            telefon: {{ uzytkownik.numer_telefonu }}<br>

        </li>
    {% empty %}
        <li>Brak ofert.</li>
    {% endfor %}
</ul>

</body>
</html>