{% extends "base.html" %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Strona główna</a></li>
        <li class="breadcrumb-item active" aria-current="page">Przypisane zgłoszenia</li>
  </ol>
</nav>
{% endblock breadcrumb %}

{% block content %}
    <h1>Przypisane zgłoszenia studentów</h1>

    {% if zgloszenia %}
        <table border="1" cellpadding="5" cellspacing="0">
            <thead>
                <tr>
                    <th>ID zgłoszenia</th>
                    <th>Student</th>
                    <th>Oferta</th>
                    <th>Pracodawca</th>
                    <th>Data zgłoszenia</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for z in zgloszenia %}
                    <tr>
                        <td>{{ z.id }}</td>
                        <td>{{ z.student.imie }} {{ z.student.nazwisko }}</td>
                        <td>Oferta #{{ z.oferta.id }}</td>
                        <td>{{ z.oferta.pracodawca.nazwa_firmy }}</td>
                        <td>{{ z.data_zgloszenia }}</td>
                        <td>{{ z.status }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Nie masz jeszcze żadnych przypisanych zgłoszeń.</p>
    {% endif %}

{% endblock %}
