{% extends "base.html" %}
{% block title %} Moje zgłoszenia na praktyki {% endblock %}
{% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Strona główna</a></li>
    <li class="breadcrumb-item active" aria-current="page">Moje zgłoszenia na praktyki</li>
  </ol>
</nav>
{% endblock %}
{% block main_title %} <h1>Moje zgłoszenia na praktyki</h1> {% endblock %}

{% block content %}

    {% if zgloszenia %}
        <table class="table">
            <thead>
                <tr>
                    <th>ID zgłoszenia</th>
                    <th>Oferta</th>
                    <th>Pracodawca</th>
                    <th>Data zgłoszenia</th>
                    <th>Status</th>
                    <th>Opiekun praktyk</th>
                </tr>
            </thead>
            <tbody>
                {% for z in zgloszenia %}
                    <tr>
                        <td>{{ z.id }}</td>
                        <td>Oferta #{{ z.oferta.id }}</td>
                        <td>{{ z.oferta.pracodawca.nazwa_firmy }}</td>
                        <td>{{ z.data_zgloszenia }}</td>
                        <td>{{ z.status }}</td>
                        <td>
                            {% if z.opiekun_praktyk %}
                                {{ z.opiekun_praktyk.imie }} {{ z.opiekun_praktyk.nazwisko }}
                            {% else %}
                                (brak)
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Nie masz jeszcze żadnych zgłoszeń.</p>
    {% endif %}

{% endblock %}
