{% extends "base.html" %}
{% block title %} Edycja zgłoszenia #{{ zgloszenie.id }} {% endblock %}
{% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Strona główna</a></li>
    <li class="breadcrumb-item active" aria-current="page">Edycja zgłoszenia #{{ zgloszenie.id }}</li>
  </ol>
</nav>
{% endblock %}
{% block main_title %} <h1>Edycja zgłoszenia #{{ zgloszenie.id }}</h1> {% endblock %}
{% load django_bootstrap5 %}
{% block content %}
    <h1>Edycja zgłoszenia #{{ zgloszenie.id }}</h1>

    <p>
        <strong>Student:</strong>
        {{ zgloszenie.student.imie }} {{ zgloszenie.student.nazwisko }}
        ({{ zgloszenie.student.numer_indeksu }})
        <br>
        <strong>Oferta:</strong>
        Oferta #{{ zgloszenie.oferta.id }} – {{ zgloszenie.oferta.pracodawca.nazwa_firmy }}
    </p>

    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
<div class="d-flex mt-4 justify-content-between">
    <button class="btn btn-primary" type="submit">Zapisz zmiany</button>
    <a  class="btn btn btn-outline-secondary" href="{% url 'bk_zgloszenia_lista' %}">Powrót do listy</a>
</div>
    </form>

{% endblock %}
